@(message: String, news: List[News])

@import play.i18n.Messages

@percent = {80}
@lastloginday = {Montag, den 01. Januar 1970}
@lastlogintime = {14:30}

@main(message) {

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Willkommen, BENUTZERNAME</h3>
        </div>
        <div class="panel-body">
            <p>Dein letzter Login war am <strong>@{lastloginday}</strong> um <strong>@{lastlogintime} Uhr</strong></p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Dein aktueller Verbrauch</h3>
        </div>
        <div class="panel-body">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100" style="width: @percent%">
                    @percent%
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Letzte Updates</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Dateiname</th>
                        <th>Größe</th>
                        <th>Service</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>20.05.2014 13:45 Uhr</td>
                        <td>Testdatei01.txt</td>
                        <td>54 KBytes</td>
                        <td>Dropbox</td>
                    </tr>
                    <tr>
                        <td>21.05.2014 13:45 Uhr</td>
                        <td>Testdatei02.txt</td>
                        <td>154 KBytes</td>
                        <td>Dropbox</td>
                    </tr>
                    <tr>
                        <td>22.05.2014 13:45 Uhr</td>
                        <td>Testdatei03.txt</td>
                        <td>234 KBytes</td>
                        <td>Dropbox</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Neuigkeiten</h3>
        </div>
        <div class="panel-body">
            @for(entry <- news) {
                <p><span class="text-muted">@entry.date.format("dd.mm.YYYY HH:MM") @Messages.get("user.files.clock")</span>: <strong>@entry.name</strong> @entry.text</p>
            }
        </div>
    </div>

}