@(message: String, User: models.User)

@import play.i18n.Messages

@percent = {@Account.getPercent}


@main(message) {

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Willkommen, @User.prename.toUpperCase()</h3>
        </div>
        <div class="panel-body">
            @if(User.lastlogin == null) {
                <p>Wir freuen uns dich auf unserem Portal begrüßen zu dürfen!</p>
            } else {
                <p>Dein letzter Login war am <strong>@User.lastlogin.toDateTimeISO.toString("dd.MM.YYYY")</strong> um <strong>@User.lastlogin.toDateTimeISO.toString("HH:MM") Uhr</strong></p>
            }
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Dein aktueller Verbrauch</h3>
        </div>
        <div class="panel-body">
            <div class="progress">
                <div class="progress-bar @Account.getBarClass progress-bar-striped" role="progressbar" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100" style="width: @percent%">
                    @percent%
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Letzte Updates</h3>
        </div>
        <div class="panel-body files">
            <table class="table">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Dateiname</th>
                        <th>Größe</th>
                        <th>Service</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Neuigkeiten</h3>
        </div>
        <div class="panel-body news">

        </div>
    </div>

}