@(title: String)(content: Html)

@layout(title) {
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@routes.Application.index()">CloudPlex Project</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@routes.Application.index()">Dashboard</a></li>
                    <li><a href="@routes.Application.myfiles()">Meine Dateien</a></li>
                    <li><a href="@routes.Application.settings()">Einstellungen</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@routes.Application.gtc()">AGB</a></li>
                    <li><a href="@routes.Application.imprint()">Impressum</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">BENUTZERNAME <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@routes.Application.settings()">Einstellungen</a></li>
                            <li><a href="@routes.Account.logout()">abmelden</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div id="content" class="well well-sm">
        @content
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <p class="text-muted">
                    &copy; Copyright by CloudPlex 2014
            </p>
        </div>
    </div>
}

