@(message: String)

@import play.i18n.Messages

@main(message) {

        <ol class="breadcrumb">
            <li class="text-muted"><span class="fa fa-folder"></span></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Testordner</a></li>
            <li class="active">Textdateien</li>
        </ol>
        <table class="table">
            <thead>
                <tr>
                    <th><input type="checkbox" class="multi-checkbox master"></th>
                    <th>@Messages.get("user.files.filename")</th>
                    <th>@Messages.get("user.files.size")</th>
                    <th>@Messages.get("user.files.service")</th>
                    <th>@Messages.get("user.files.options")</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <button type="button" class="btn btn-danger btn-sm pull-right" id="deleteselected" data-url="@routes.Application.test()">@Messages.get("user.files.options.deleteselected")</button>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td><input type="checkbox" class="multi-checkbox" data-value="Testdatei01.txt"></td>
                    <td>Testdatei01.txt</td>
                    <td>54 KBytes</td>
                    <td>Dropbox</td>
                    <td>
                        <a href="#" title="@Messages.get("user.files.options.delete")"><span class="fa fa-remove"></span></a>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="multi-checkbox" data-value="Testdatei02.txt"></td>
                    <td>Testdatei02.txt</td>
                    <td>123 KBytes</td>
                    <td>OneDrive</td>
                    <td>
                        <a href="#" title="@Messages.get("user.files.options.delete")"><span class="fa fa-remove"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
}