@(title: String)(content: Html)

@msg_success = @{flash.get("success")}
@msg_error = @{flash.get("error")}


@layout(title) {
    @if(msg_success != null && !msg_success.toString.isEmpty) {
        <div class="alert small alert-success" role="alert"><strong><i class="fa fa-info"></i> <!--Messages.get("application.general.information")--></strong> @msg_success</div>
    }
    @if(msg_error != null && !msg_error.toString.isEmpty) {
        <div class="alert small alert-danger" role="alert"><strong><i class="fa fa-exclamation-triangle"></i> <!--Messages.get("application.general.error")--></strong> @msg_error</div>
    }
    @content
    <div class="footer">
        <div class="container">
            <p class="text-hide">asdadsdas</p>
        </div>
    </div>
}