@(message: String)

@import play.i18n.Messages

@percent = {80}
@lastloginday = {Montag, den 01. Januar 1970}
@lastlogintime = {14:30}

@main(message) {

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Messages.get("user.settings.changepwd")</h3>
        </div>
        <div class="panel-body">
            <form class="form-changepassword" role="form" action="@controllers.routes.Account.changePassword()" method="post">
                <div class="input-group">
                    <input name="oldpassword" type="password" class="form-control" placeholder="@Messages.get("user.settings.oldpassword")" required autofocus>
                </div>
                <div class="input-group">
                    <input name="password" type="password" class="form-control" placeholder="@Messages.get("user.settings.password")" required autofocus>
                </div>
                <div class="input-group password">
                    <input name="password2" type="password" class="form-control" placeholder="@Messages.get("user.settings.password2")" required>
                </div>
                <button class="btn btn-sm btn-primary btn-block" type="submit"><span class="fa fa-pencil"></span> @Messages.get("user.settings.change")</button>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Messages.get("user.settings.security")</h3>
        </div>
        <div class="panel-body">
            <form class="form-setencryption" role="form" action="@controllers.routes.Account.setDefaultEncryption()" method="post">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="default_encryption_set" name="default_encryption" value="selected" @if(Account.getCurrentUser.isDefault_encrypt) { checked="checked" }> @Messages.get("user.settings.defaultencryption")@if(Account.getCurrentUser.isDefault_encrypt) { <span class="text-success"> (@Messages.get("user.settings.encryption.activated"))</span> } else { <span class="text-danger"> (@Messages.get("user.settings.encryption.deactivated"))</span> }
                    </label>
                </div>
                <p class="text-info"><i class="fa fa-info"></i> @Messages.get("user.settings.defaultencryption.description")</p>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Messages.get("user.settings.cloudaccounts")</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="multi-checkbox master"></th>
                        <th>@Messages.get("user.settings.cloudaccounts.service")</th>
                        <th>@Messages.get("user.settings.cloudaccounts.user")</th>
                        <th>@Messages.get("user.settings.cloudaccounts.storageavailable")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="@Account.getCurrentUser.getIndicatorClass">
                        <td></td>
                        <td>CloudPlex.de</td>
                        <td>@Account.getCurrentUser.getEmail <span class="text-success">(@Messages.get("user.settings.systemaccount"))</span></td>
                        <td>@Account.getCurrentUser.getRemaining %</td>
                    </tr>
                    <tr class="bg-danger text-muted">
                        <td><input type="checkbox" class="multi-checkbox"></td>
                        <td>Google-Drive</td>
                        <td>@Messages.get("user.settings.provider.notavailable")</td>
                        <td>0,00 %</td>
                    </tr>
                    <tr class="bg-danger text-muted">
                        <td><input type="checkbox" class="multi-checkbox"></td>
                        <td>OneDrive</td>
                        <td>@Messages.get("user.settings.provider.notavailable")</td>
                        <td>0,00 %</td>
                    </tr>
                    <tr class="bg-danger text-muted">
                        <td><input type="checkbox" class="multi-checkbox"></td>
                        <td>Dropbox</td>
                        <td>@Messages.get("user.settings.provider.notavailable")</td>
                        <td>0,00 %</td>
                    </tr>
                    <tr class="bg-danger text-muted">
                        <td><input type="checkbox" class="multi-checkbox"></td>
                        <td>Telekom Mediencenter</td>
                        <td>@Messages.get("user.settings.provider.notavailable")</td>
                        <td>0,00 %</td>
                    </tr>
                    <tr class="bg-danger text-muted">
                        <td><input type="checkbox" class="multi-checkbox"></td>
                        <td>JustCloud</td>
                        <td>@Messages.get("user.settings.provider.notavailable")</td>
                        <td>0,00 %</td>
                    </tr>
                    <tr class="bg-danger text-muted">
                        <td><input type="checkbox" class="multi-checkbox"></td>
                        <td>SafeSync Business</td>
                        <td>@Messages.get("user.settings.provider.notavailable")</td>
                        <td>0,00 %</td>
                    </tr>
                    <tr class="text-danger">
                        <td colspan="4">
                            <i class="fa fa-warning"></i> @Messages.get("user.settings.justlocalfilesavailable")
                        </td>
                    </tr>
                    <tr class="text-info">
                        <td colspan="4">
                            <i class="fa fa-info"></i> @Messages.get("user.settings.colorinformation")
                        </td>
                    </tr>
                </tbody>
            </table>
                <!--
            <div class="pull-left"><button class="btn btn-sm btn-danger text-muted"><span class="fa fa-remove"></span> Messages.get("user.settings.cloudaccounts.removeselected")</button></div>
            <div class="pull-right"><button class="btn btn-sm btn-info text-muted"><span class="fa fa-plus"></span> Messages.get("user.settings.cloudaccounts.addaccount")</button></div>
        -->
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Messages.get("user.settings.delete")</h3>
        </div>
        <div class="panel-body">
            <p class="text-danger"><i class="fa fa-warning"></i> @Messages.get("user.settinge.rmaccount.notice")</p>
            <p>@Messages.get("user.settings.rmaccount.emailinfo") <a href="mailto://hilfe@@cloudplex.de">hilfe@@cloudplex.de</a></p>
            <form class="form-deleteaccount" role="form">
                <button class="btn btn-sm btn-danger btn-block modal-action" data-requesturl="@controllers.routes.Modal.rmAccount()" type="button"><span class="fa fa-remove"></span> @Messages.get("user.settings.deleteaccount")</button>
            </form>
        </div>
    </div>


}