@import "font-awesome.less";

body {
  background-color: #eee;
  padding-bottom: 40px;
  padding-top: 40px;
}

.form-changepassword {
  input[type=password], button {
    max-width: 170px;
    margin-bottom: 10px;
  }
}

.form-deleteaccount {
  input[type=password], button {
    max-width: 170px;
  }
}

.form-signin {
  margin: 0 auto;
  max-width: 330px;
  padding: 15px;

  input {
    margin-bottom: 10px;
  }

  .input-group.password span.input-group-addon {
    cursor: pointer;
  }

  .input-group.password {
    margin-top: 10px;
  }

  .form-signin-heading {
    text-align: center;

    .glyphicon {
      font-size: 70px;
    }

  }

  input[type=checkbox] {
    margin-top: 2px;
  }

  .checkbox {
    margin: 10px 0 8px 15px;
  }

  ul.infolinks {
    padding: 10px 0 0 0;
    li {
      list-style: none;
      margin: 10px 0;
      text-align: center;
    }
  }
}

#content {

  .alert {
    padding: 10px;
    margin-bottom: 10px;
  }

  margin-top: 20px;
  background-color: #f5f5f5;
}

.footer {
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 12px;

  p {
    margin-bottom: 0;
  }
}

@import "filesystem";