@import play.i18n.Messages

<form class="form-modal" role="form" action="@controllers.routes.Filesystem.newFile()" method="post" enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Messages.get("application.general.close")</span></button>
        <h4 class="modal-title" id="myModalLabel">@Messages.get("filesystem.modal.newfile.title")</h4>
    </div>
    <div class="modal-body" id="myModalBody">
        <div class="form-group">
            <input type="file" name="filename" id="upload_file" placeholder="@Messages.get("filesystem.model.enterfoldername")" required autofocus>
            <p class="help-block">@Messages.get("filesystem.model.choosefilehelp")</p>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="encryption_set" name="encryption" value="checked" @if(Account.getCurrentUser.isDefault_encrypt) { checked="checked" }> @Messages.get("user.files.encryption")
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages.get("application.general.abort")</button>
        <button type="submit" class="btn btn-primary btn-submit" id="button_upload">@Messages.get("application.general.upload")</button>
    </div>
</form>