@(message: String, files: List[File], folders: List[File])

@import play.i18n.Messages

@cwd = {@Filesystem.getCWD}

@buttons(withdelete: Boolean) = {
    @if(withdelete) {
        <button type="button" class="btn btn-danger btn-sm pull-right filesystem-action" id="deleteselected" data-requesturl="@controllers.routes.Modal.multiRm()" data-deleteurl="@controllers.routes.Filesystem.multiRm()"><span class="fa fa-remove"></span> @Messages.get("user.files.options.deleteselected")</button>
    }
    <button type="button" class="btn btn-success btn-sm pull-right filesystem-action modal-action" id="uploadfile" data-requesturl="@controllers.routes.Modal.newFile()"><span class="fa fa-file"></span> @Messages.get("user.files.options.uploadfile")</button>
    <button type="button" class="btn btn-info btn-sm pull-right filesystem-action modal-action" data-requesturl="@controllers.routes.Modal.newFolder()" id="newfolder" data-url=""><span class="fa fa-folder"></span> @Messages.get("user.files.options.newfolder")</button>
    <button type="button" class="btn btn-sm pull-right btn-refresh" id="refresh" onclick="refresh('.table.filesystem tbody', '@controllers.routes.Filesystem.jsonFilesList()');"><span class="fa fa-refresh"></span> @Messages.get("user.files.options.refresh")</button>
}

@main(message) {

        <ol class="breadcrumb">
            <li class="text-muted"><span class="fa fa-folder"></span></li>
            <li class="text-muted"><a href="@controllers.routes.Filesystem.cwd(0)">Home</a></li>
            @for(f <- folders) {
                <li class="text-muted"><a href="@controllers.routes.Filesystem.cwd(f.getId)">@f.getFilename</a></li>
            }
        </ol>
        <table class="table filesystem">
            <thead>
                <tr>
                    <th><input type="checkbox" class="multi-checkbox master"></th>
                    <th>@Messages.get("user.files.filename")</th>
                    <th>@Messages.get("user.files.date")</th>
                    <th>@Messages.get("user.files.size")</th>
                    <th>@Messages.get("user.files.service")</th>
                    <th>@Messages.get("user.files.options")</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="6">
                    @buttons(true)
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td colspan="6" class="loader">
                        <img src="@routes.Assets.at("ajax-loader.gif")" title="Loading" alt="Loading">
                    </td>
                </tr>
            </tbody>
        </table>
}